
.BreadcrumbStyle{
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
    background-color: #F2F2F2;
}
.ProductButton{
    margin-top: 20px;
}
.error{
   
    color:red;
    font-size: .6rem;
}
label{
    font-size: .7rem;
}